*body{ background-color:rgba(77, 55, 55, 0.3);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.firstcss{
  text-align: center;
}

.boom {
  
  color: rgb(22, 20, 20);
  align-content: center;
}
p{color: rgb(22, 44, 44);
  text-align: end;
}