*body{ background-color:rgba(77, 55, 55, 0.3);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.firstcss {
  text-align: center;
}

.boom {
  
  color: rgb(212, 33, 33);
  align-content: center;
}
p{color: rgb(7, 223, 223);
  text-align: end;
}